<%= form_with(model: @tweet, local: true) do |form| %>
  <div class="tweet-form">
    <%= form.text_area :content, placeholder: "いまどうしてる？", class: "tweet-input" %>
  </div>

  <div>
    <!-- 既にあるTweetなら「更新する」、新規なら「ツイートする」など条件分岐も可能 -->
    <%= form.submit @tweet.persisted? ? "更新する" : "ツイートする", class: "tweet-button" %>
  </div>
<% end %>
